final csv to influx1.json
[{"id":"ed1a929b.928ee","type":"inject","z":"ab59f0ad.955a6","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":150,"y":160,"wires":[["2af9d6da.4a360a"]]},{"id":"2af9d6da.4a360a","type":"file in","z":"ab59f0ad.955a6","name":"rough","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\node.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":290,"y":160,"wires":[["f71b7061.f9944"]]},{"id":"f71b7061.f9944","type":"csv","z":"ab59f0ad.955a6","name":"","sep":";","hdrin":true,"hdrout":true,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"x":450,"y":200,"wires":[["dceb725f.baf2"]]},{"id":"73bf7b5d.47a6d4","type":"debug","z":"ab59f0ad.955a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":160,"wires":[]},{"id":"809f9e08.f70f5","type":"influxdb out","z":"ab59f0ad.955a6","influxdb":"f000a8f.59cad58","name":"","measurement":"TESTING1","precision":"ms","retentionPolicy":"","x":950,"y":300,"wires":[]},{"id":"dceb725f.baf2","type":"function","z":"ab59f0ad.955a6","name":"function","func":"// Addd metadata to the payload\n\nvar tags = {}\ntags.COIL_ID = msg.payload.COIL_ID \n\n\nvar fields = {}\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst dateTime = `${date} ${time}`\npointTime = new Date(dateTime);\n\n// assign the timestamp value to fields.time\nfields: {\n        \n        \n        fields.ziehkraft_ist = msg.payload.ziehkraft_ist,\n        fields.ziehkraft_ist_int= msg.payload.ziehkraft_ist_int,\n        fields.Ziehkraft_IST_LIN = msg.payload.Ziehkraft_IST_LIN,\n        fields.Drehzahl_Istwert_vom_Regler = msg.payload.Drehzahl_Istwert_vom_Regler,\n        fields.Strom_Istwert_vom_Regler = msg.payload.Strom_Istwert_vom_Regler,\n        fields.ISTWERT_ZIEHGESCHW_GEGLAETET = msg.payload.ISTWERT_ZIEHGESCHW_GEGLAETET,\n        fields.Ziehkraft_IST_V = msg.payload.Ziehkraft_IST_V,\n        fields.Ziehkraft_IST_LIN_int = msg.payload.Ziehkraft_IST_LIN_int,\n        fields.D_Roh = msg.payload.D_Roh,\n        fields.D_Fertig = msg.payload.D_Fertig,\n        fields.ISTWERT_ZIEHGESCHW_m_min = msg.payload.ISTWERT_ZIEHGESCHW_m_min,\n        fields.lichtschranke_vor_ziehteil_fs_ = (msg.payload.lichtschranke_vor_ziehteil_fs_ ==1),\n        fields.lichtschranke_am_hauptgetriebe_rsz_ = (msg.payload.lichtschranke_am_hauptgetriebe_rsz_ ==1),\n        fields.lichtschranke_vor_abschneideteil_raa_ = (msg.payload.lichtschranke_vor_abschneideteil_raa_ ==1),\n        fields.lichtschranke_hinter_abschneideteil_rsa1_ = (msg.payload.lichtschranke_hinter_abschneideteil_rsa1_ ==1),\n        fields.Reset_Zkraft= (msg.payload.Reset_Zkraft ==1),\n        fields.ls_vorrichter_zwischen_waage_und_senk = (msg.payload.ls_vorrichter_zwischen_waage_und_senk ==1),\n        fields.ls_vor_ziehteil_fs = (msg.payload.ls_vor_ziehteil_fs ==1),\n        fields.Ziehstein_Verstellung_Ab = (msg.payload.Ziehstein_Verstellung_Ab ==1),\n        fields.Ziehstein_Verstellung_Vor = (msg.payload.Ziehstein_Verstellung_Vor ==1),\n        fields.Ziehstein_Verstellung_Zur_k = (msg.payload.Ziehstein_Verstellung_Zur_k ==1),\n        fields.COIL_ID = (msg.payload.COIL_ID ==1),\n        fields.PUSHING_FORCE = msg.payload.PUSHING_FORCE,\n        fields.Drawing_Force = msg.payload.Drawing_Force \n        \n      }\n     \n      fields.time = pointTime.getTime();\nvar arr =[]\narr[0] = fields\narr[1] = tags\n\n\nmsg.payload = arr\n\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["73bf7b5d.47a6d4","809f9e08.f70f5"]]},{"id":"f000a8f.59cad58","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"MF","name":"DATABASE","usetls":false,"tls":""}]