final combination node.json
[{"id":"b24fe911.f44c78","type":"inject","z":"d8ad42b2.e79f7","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":90,"y":140,"wires":[["30891367.a8586c"]]},{"id":"30891367.a8586c","type":"file in","z":"d8ad42b2.e79f7","name":"rough","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\node.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":270,"y":140,"wires":[["435c6183.f258d","dad0abff.548be8"]]},{"id":"435c6183.f258d","type":"csv","z":"d8ad42b2.e79f7","name":"","sep":";","hdrin":true,"hdrout":true,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"x":450,"y":120,"wires":[["67e5f7cb.c83598","5f5f21d4.06f56"]]},{"id":"3a63ea94.32df26","type":"debug","z":"d8ad42b2.e79f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":260,"wires":[]},{"id":"b81e5182.8badb","type":"influxdb out","z":"d8ad42b2.e79f7","influxdb":"f000a8f.59cad58","name":"influx1","measurement":"TESTING2","precision":"ms","retentionPolicy":"","x":870,"y":120,"wires":[]},{"id":"67e5f7cb.c83598","type":"function","z":"d8ad42b2.e79f7","name":"function","func":"// Addd metadata to the payload\n\nvar tags = {}\ntags.COIL_ID = msg.payload.COIL_ID \n\n\nvar fields = {}\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst dateTime = `${date} ${time}`\npointTime = new Date(dateTime);\n\n// assign the timestamp value to fields.time\nfields: {\n        \n        \n        fields.ziehkraft_ist = msg.payload.ziehkraft_ist,\n        fields.ziehkraft_ist_int= msg.payload.ziehkraft_ist_int,\n        fields.Ziehkraft_IST_LIN = msg.payload.Ziehkraft_IST_LIN,\n        fields.Drehzahl_Istwert_vom_Regler = msg.payload.Drehzahl_Istwert_vom_Regler,\n        fields.Strom_Istwert_vom_Regler = msg.payload.Strom_Istwert_vom_Regler,\n        fields.ISTWERT_ZIEHGESCHW_GEGLAETET = msg.payload.ISTWERT_ZIEHGESCHW_GEGLAETET,\n        fields.Ziehkraft_IST_V = msg.payload.Ziehkraft_IST_V,\n        fields.Ziehkraft_IST_LIN_int = msg.payload.Ziehkraft_IST_LIN_int,\n        fields.D_Roh = msg.payload.D_Roh,\n        fields.D_Fertig = msg.payload.D_Fertig,\n        fields.ISTWERT_ZIEHGESCHW_m_min = msg.payload.ISTWERT_ZIEHGESCHW_m_min,\n        fields.lichtschranke_vor_ziehteil_fs_ = (msg.payload.lichtschranke_vor_ziehteil_fs_ ==1),\n        fields.lichtschranke_am_hauptgetriebe_rsz_ = (msg.payload.lichtschranke_am_hauptgetriebe_rsz_ ==1),\n        fields.lichtschranke_vor_abschneideteil_raa_ = (msg.payload.lichtschranke_vor_abschneideteil_raa_ ==1),\n        fields.lichtschranke_hinter_abschneideteil_rsa1_ = (msg.payload.lichtschranke_hinter_abschneideteil_rsa1_ ==1),\n        fields.Reset_Zkraft= (msg.payload.Reset_Zkraft ==1),\n        fields.ls_vorrichter_zwischen_waage_und_senk = (msg.payload.ls_vorrichter_zwischen_waage_und_senk ==1),\n        fields.ls_vor_ziehteil_fs = (msg.payload.ls_vor_ziehteil_fs ==1),\n        fields.Ziehstein_Verstellung_Ab = (msg.payload.Ziehstein_Verstellung_Ab ==1),\n        fields.Ziehstein_Verstellung_Vor = (msg.payload.Ziehstein_Verstellung_Vor ==1),\n        fields.Ziehstein_Verstellung_Zur_k = (msg.payload.Ziehstein_Verstellung_Zur_k ==1),\n        fields.COIL_ID = (msg.payload.COIL_ID ==1),\n        fields.PUSHING_FORCE = msg.payload.PUSHING_FORCE,\n        fields.Drawing_Force = msg.payload.Drawing_Force \n        \n      }\n     \n      fields.time = pointTime.getTime();\nvar arr =[]\narr[0] = fields\narr[1] = tags\n\n\nmsg.payload = arr\n\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["b81e5182.8badb","3a63ea94.32df26"]]},{"id":"dad0abff.548be8","type":"delay","z":"d8ad42b2.e79f7","name":"","pauseType":"rate","timeout":"500","timeoutUnits":"milliseconds","rate":"50","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":500,"wires":[["40747781.85ba88"]]},{"id":"40747781.85ba88","type":"csv","z":"d8ad42b2.e79f7","name":"","sep":";","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":490,"y":500,"wires":[["2cb6a96c.f7b9f6"]]},{"id":"2cb6a96c.f7b9f6","type":"function","z":"d8ad42b2.e79f7","name":"Build SQL Insert","func":"/*\nRun these sentences on Postgresql:\n\nDROP TABLE drawing;\nCREATE TABLE machine\n(\n  \"time\" timestamp without time zone,\n  ziehkraft_ist double precision,\n  ziehkraft_ist_int double precision,\n  ziehkraft_ist_lin double precision,\n  drehzahl_istwert_vom_regler double precision,\n  strom_istwert_vom_regler double precision,\n  istwert_ziehgeschw_geglaetet double precision,\n  ziehkraft_ist_v double precision,\n  ziehkraft_ist_lin_int double precision,\n  d_roh double precision,\n  d_fertig double precision,\n  istwert_ziehgeschw_m_min double precision,\n  lichtschranke_vor_ziehteil_fs_ double precision,\n  lichtschranke_am_hauptgetriebe_rsz_ double precision,\n  lichtschranke_vor_abschneideteil_raa_ double precision,\n  lichtschranke_hinter_abschneideteil_rsa1_ double precision,\n  reset_zkraft double precision,\n  ls_vorrichter_zwischen_waage_und_senk double precision,\n  ls_vor_ziehteil_fs double precision,\n  ziehstein_verstellung_ab double precision,\n  ziehstein_verstellung_vor double precision,\n  ziehstein_verstellung_zur_k double precision,\n  coil_id double precision,\n  pushing_force double precision,\n  drawing_force double precision\n);\n\n*/\n\nfields = [];\nvalues = [];\nfor (var field in msg.payload) {\n    // Replace special chars by underscore using regex\n    fields.push(field.toLowerCase().replace(/[ \\.\\/\\(\\)\\?\\-]/g, '_'));\n    values.push(\"'\" + msg.payload[field] + \"'\");\n}\n\nmsg.payload = [{ query:\n    \"insert into drawing (\" +\n    fields.join(', ') + \") VALUES (\" +\n    values.join(', ') + \")\"\n}];   \nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["f742e6b8.ad9068","3a63ea94.32df26"]]},{"id":"f742e6b8.ad9068","type":"postgres","z":"d8ad42b2.e79f7","postgresdb":"7027bfdc.0aed5","name":"","output":false,"outputs":0,"x":980,"y":500,"wires":[]},{"id":"5f5f21d4.06f56","type":"function","z":"d8ad42b2.e79f7","name":"Transform json","func":"input = msg.payload;\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst datetime = `${date} ${time}`\npointTime = new Date(datetime);\noutput = {};\noutput.payload = {\n  bucket: 'project',\n  precision: 'ms',\n\n  data: {\n      measurement: 'test',\n\n      tags: {\n        coil_id: input.COIL_ID ,\n      },\n\n      fields: {\n        \n        ziehkraft_ist: input.ziehkraft_ist,\n        ziehkraft_ist_int: input.ziehkraft_ist_int,\n        Ziehkraft_IST_LIN: input.Ziehkraft_IST_LIN,\n        Drehzahl_Istwert_vom_Regler: input.Drehzahl_Istwert_vom_Regler,\n        Strom_Istwert_vom_Regler: input.Strom_Istwert_vom_Regler,\n        ISTWERT_ZIEHGESCHW_GEGLAETET: input.ISTWERT_ZIEHGESCHW_GEGLAETET,\n        Ziehkraft_IST_V: input.Ziehkraft_IST_V,\n        Ziehkraft_IST_LIN_int: input.Ziehkraft_IST_LIN_int,\n        D_Roh: input.D_Roh,\n        D_Fertig: input.D_Fertig,\n        ISTWERT_ZIEHGESCHW_m_min: input.ISTWERT_ZIEHGESCHW_m_min,\n        lichtschranke_vor_ziehteil_fs_ : (input.lichtschranke_vor_ziehteil_fs_ ==1),\n        lichtschranke_am_hauptgetriebe_rsz_ : (input.lichtschranke_am_hauptgetriebe_rsz_ ==1),\n        lichtschranke_vor_abschneideteil_raa_ : (input.lichtschranke_vor_abschneideteil_raa_ ==1),\n        lichtschranke_hinter_abschneideteil_rsa1_ : (input.lichtschranke_hinter_abschneideteil_rsa1_ ==1),\n        Reset_Zkraft: (input.Reset_Zkraft ==1),\n        ls_vorrichter_zwischen_waage_und_senk: (input.ls_vorrichter_zwischen_waage_und_senk ==1),\n        ls_vor_ziehteil_fs: (input.ls_vor_ziehteil_fs ==1),\n        Ziehstein_Verstellung_Ab: (input.Ziehstein_Verstellung_Ab ==1),\n        Ziehstein_Verstellung_Vor: (input.Ziehstein_Verstellung_Vor ==1),\n        Ziehstein_Verstellung_Zur_k: (input.Ziehstein_Verstellung_Zur_k ==1),\n        COIL_ID: (input.COIL_ID ==1),\n        PUSHING_FORCE: input.PUSHING_FORCE,\n        Drawing_Force: input.Drawing_Force \n        \n      },\n     \n      timestamp: pointTime.getTime(),\n    },\n};\n\nreturn output;\n","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["497ebffc.01818","3a63ea94.32df26"]]},{"id":"497ebffc.01818","type":"Stackhero-InfluxDB-v2-write","z":"d8ad42b2.e79f7","server":"e46e81e6.7784","name":"InfluxDB2 Write","x":720,"y":380,"wires":[[]]},{"id":"f000a8f.59cad58","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"MF","name":"DATABASE","usetls":false,"tls":""},{"id":"7027bfdc.0aed5","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"silver","ssl":false},{"id":"e46e81e6.7784","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"bright-bar.sms-metrics.com","port":"443","tls":true}]