final csv to postgres.json
[{"id":"e74d3a9d.cb14b8","type":"inject","z":"1bed805d.22c09","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":82,"wires":[["7027644a.b72dec"]]},{"id":"7027644a.b72dec","type":"file in","z":"1bed805d.22c09","name":"file","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\node.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":285,"y":83,"wires":[["97d27c01.d9007"]]},{"id":"97d27c01.d9007","type":"delay","z":"1bed805d.22c09","name":"","pauseType":"rate","timeout":"500","timeoutUnits":"milliseconds","rate":"50","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":163,"wires":[["87d782c0.bdfb2"]]},{"id":"87d782c0.bdfb2","type":"csv","z":"1bed805d.22c09","name":"","sep":";","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":192,"y":240,"wires":[["1fb4be20.42dd32"]]},{"id":"1fb4be20.42dd32","type":"function","z":"1bed805d.22c09","name":"Build SQL Insert","func":"/*\nRun these sentences on Postgresql:\n\nDROP TABLE drawing;\nCREATE TABLE drawing\n(\n  \"time\" timestamp without time zone,\n  ziehkraft_ist double precision,\n  ziehkraft_ist_int double precision,\n  ziehkraft_ist_lin double precision,\n  drehzahl_istwert_vom_regler double precision,\n  strom_istwert_vom_regler double precision,\n  istwert_ziehgeschw_geglaetet double precision,\n  ziehkraft_ist_v double precision,\n  ziehkraft_ist_lin_int double precision,\n  d_roh double precision,\n  d_fertig double precision,\n  istwert_ziehgeschw_m_min double precision,\n  lichtschranke_vor_ziehteil_fs_ double precision,\n  lichtschranke_am_hauptgetriebe_rsz_ double precision,\n  lichtschranke_vor_abschneideteil_raa_ double precision,\n  lichtschranke_hinter_abschneideteil_rsa1_ double precision,\n  reset_zkraft double precision,\n  ls_vorrichter_zwischen_waage_und_senk double precision,\n  ls_vor_ziehteil_fs double precision,\n  ziehstein_verstellung_ab double precision,\n  ziehstein_verstellung_vor double precision,\n  ziehstein_verstellung_zur_k double precision,\n  coil_id double precision,\n  pushing_force double precision,\n  drawing_force double precision\n);\n\n*/\n\nfields = [];\nvalues = [];\nfor (var field in msg.payload) {\n    // Replace special chars by underscore using regex\n    fields.push(field.toLowerCase().replace(/[ \\.\\/\\(\\)\\?\\-]/g, '_'));\n    values.push(\"'\" + msg.payload[field] + \"'\");\n}\n\nmsg.payload = [{ query:\n    \"insert into drawing (\" +\n    fields.join(', ') + \") VALUES (\" +\n    values.join(', ') + \")\"\n}];   \nreturn msg;","outputs":1,"noerr":0,"x":376,"y":246,"wires":[["f7ea7cdf.1a2de","f290efd8.62a27"]]},{"id":"f7ea7cdf.1a2de","type":"debug","z":"1bed805d.22c09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"f290efd8.62a27","type":"postgres","z":"1bed805d.22c09","postgresdb":"7027bfdc.0aed5","name":"","output":false,"outputs":0,"x":600,"y":320,"wires":[]},{"id":"7027bfdc.0aed5","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"silver","ssl":false}]