final csv to influx2.json
[{"id":"7eed39ca.fdeac8","type":"function","z":"6f148415.82723c","name":"Transform json","func":"input = msg.payload;\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst datetime = `${date} ${time}`\npointTime = new Date(datetime);\noutput = {};\noutput.payload = {\n  bucket: 'project',\n  precision: 'ms',\n\n  data: {\n      measurement: 'machine',\n\n      tags: {\n        coil_id: input.COIL_ID ,\n      },\n\n      fields: {\n        \n        ziehkraft_ist: input.ziehkraft_ist,\n        ziehkraft_ist_int: input.ziehkraft_ist_int,\n        Ziehkraft_IST_LIN: input.Ziehkraft_IST_LIN,\n        Drehzahl_Istwert_vom_Regler: input.Drehzahl_Istwert_vom_Regler,\n        Strom_Istwert_vom_Regler: input.Strom_Istwert_vom_Regler,\n        ISTWERT_ZIEHGESCHW_GEGLAETET: input.ISTWERT_ZIEHGESCHW_GEGLAETET,\n        Ziehkraft_IST_V: input.Ziehkraft_IST_V,\n        Ziehkraft_IST_LIN_int: input.Ziehkraft_IST_LIN_int,\n        D_Roh: input.D_Roh,\n        D_Fertig: input.D_Fertig,\n        ISTWERT_ZIEHGESCHW_m_min: input.ISTWERT_ZIEHGESCHW_m_min,\n        lichtschranke_vor_ziehteil_fs_ : (input.lichtschranke_vor_ziehteil_fs_ ==1),\n        lichtschranke_am_hauptgetriebe_rsz_ : (input.lichtschranke_am_hauptgetriebe_rsz_ ==1),\n        lichtschranke_vor_abschneideteil_raa_ : (input.lichtschranke_vor_abschneideteil_raa_ ==1),\n        lichtschranke_hinter_abschneideteil_rsa1_ : (input.lichtschranke_hinter_abschneideteil_rsa1_ ==1),\n        Reset_Zkraft: (input.Reset_Zkraft ==1),\n        ls_vorrichter_zwischen_waage_und_senk: (input.ls_vorrichter_zwischen_waage_und_senk ==1),\n        ls_vor_ziehteil_fs: (input.ls_vor_ziehteil_fs ==1),\n        Ziehstein_Verstellung_Ab: (input.Ziehstein_Verstellung_Ab ==1),\n        Ziehstein_Verstellung_Vor: (input.Ziehstein_Verstellung_Vor ==1),\n        Ziehstein_Verstellung_Zur_k: (input.Ziehstein_Verstellung_Zur_k ==1),\n        COIL_ID: (input.COIL_ID ==1),\n        PUSHING_FORCE: input.PUSHING_FORCE,\n        Drawing_Force: input.Drawing_Force \n        \n      },\n     \n      timestamp: pointTime.getTime(),\n    },\n};\n\nreturn output;\n","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["9e852666.ace5a8","ebb2cb11.87afb8"]]},{"id":"1de67219.21a7ce","type":"csv","z":"6f148415.82723c","name":"","sep":";","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":430,"y":300,"wires":[["7eed39ca.fdeac8"]]},{"id":"ebb2cb11.87afb8","type":"Stackhero-InfluxDB-v2-write","z":"6f148415.82723c","server":"e46e81e6.7784","name":"InfluxDB2 Write","x":960,"y":300,"wires":[[]]},{"id":"419aeb70.5ab7f4","type":"file in","z":"6f148415.82723c","name":"file","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\node.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":230,"y":240,"wires":[["1de67219.21a7ce"]]},{"id":"ec3a2e8c.387db","type":"inject","z":"6f148415.82723c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":294,"wires":[["419aeb70.5ab7f4"]]},{"id":"9e852666.ace5a8","type":"debug","z":"6f148415.82723c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":180,"wires":[]},{"id":"e46e81e6.7784","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"bright-bar.sms-metrics.com","port":"443","tls":true}]