trial2 influx1.json
[{"id":"c4367fe0.0f4c4","type":"inject","z":"b6a839bb.5838d8","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":150,"y":200,"wires":[["a8cf87b4.fb21c8"]]},{"id":"a8cf87b4.fb21c8","type":"file in","z":"b6a839bb.5838d8","name":"project","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\node.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":290,"y":200,"wires":[["59fe486a.b50e58"]]},{"id":"59fe486a.b50e58","type":"csv","z":"b6a839bb.5838d8","name":"","sep":";","hdrin":true,"hdrout":true,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"x":470,"y":200,"wires":[["a27e54a6.fd4988"]]},{"id":"a27e54a6.fd4988","type":"function","z":"b6a839bb.5838d8","name":"function","func":"\n// Addd metadata to the payload\n\nvar tags = {}\nconst COIL_ID = msg.payload.COIL_ID\ntags.COIL_ID = parseInt(COIL_ID).valueOf();\nvar fields = {}\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst datetime = `${date} ${time}`\nconst Ziehkraft_IST = msg.payload.Ziehkraft_IST\nconst Ziehkraft_IST_INT = msg.payload.Ziehkraft_IST_INT\nconst Drehzahl_Istwert_vom_Regler = msg.payload.Drehzahl_Istwert_vom_Regler\nconst Strom_Istwert_vom_Regler = msg.payload.Strom_Istwert_vom_Regler\nconst ISTWERT_ZIEHGESCHW_GEGLAETET = msg.payload.ISTWERT_ZIEHGESCHW_GEGLAETET\nconst ISTWERT_ZIEHGESCHW_GEGLAETT = msg.payload.ISTWERT_ZIEHGESCHW_GEGLAETT\nconst Ziehkraft_IST_V = msg.payload.Ziehkraft_IST_V\nconst D_Roh = msg.payload.D_Roh\nconst D_Fertig = msg.payload.D_Fertig\nconst ISTWERT_ZIEHGESCHW = msg.payload.ISTWERT_ZIEHGESCHW\nconst Lichtschranke_vor_Ziehteil = msg.payload.Lichtschranke_vor_Ziehteil\nconst Lichtschranke_am_Hauptgetriebe = msg.payload.Lichtschranke_am_Hauptgetriebe\nconst Lichtschranke_vor_Abschneideteil  = msg.payload.Lichtschranke_vor_Abschneideteil \nconst Lichtschranke_hinter_Abschneideteil  = msg.payload.Lichtschranke_hinter_Abschneideteil \nconst Reset_Zkraft = msg.payload.Reset_Zkraft\nconst LS_Vorrichter_zwischen_Waage_und_Senk = msg.payload.LS_Vorrichter_zwischen_Waage_und_Senk\nconst Ziehstein_Verstellung_Auf = msg.payload.Ziehstein_Verstellung_Auf\nconst Ziehstein_Verstellung_Ab = msg.payload.Ziehstein_Verstellung_Ab\nconst Ziehstein_Verstellung_Vor = msg.payload.Ziehstein_Verstellung_Vor\nconst Ziehstein_Verstellung_Zurk = msg.payload.Ziehstein_Verstellung_Zurk\nconst PUSHING_FORCE = msg.payload.PUSHING_FORCE\nconst Drawing_Force = msg.payload.Drawing_Force\nconst MAX_PUSH = msg.payload.MAX_PUSH\nconst Max_Draw = msg.payload.Max_Draw\nconst std_Push = msg.payload.std_Push\nconst std_Draw = msg.payload.std_Draw\n// assign the timestamp value to fields.time\nfields.time =  new Date(datetime).valueOf();\nfields.Ziehkraft_IST = parseFloat(Ziehkraft_IST).valueOf();\nfields.Ziehkraft_IST_INT = parseFloat(Ziehkraft_IST_INT).valueOf();\nfields.Drehzahl_Istwert_vom_Regler = parseFloat(Drehzahl_Istwert_vom_Regler).valueOf();\nfields.Strom_Istwert_vom_Regler = parseFloat(Strom_Istwert_vom_Regler).valueOf();\nfields.ISTWERT_ZIEHGESCHW_GEGLAETET = parseFloat(ISTWERT_ZIEHGESCHW_GEGLAETET).valueOf();\nfields.ISTWERT_ZIEHGESCHW_GEGLAETT = parseFloat(ISTWERT_ZIEHGESCHW_GEGLAETT).valueOf();\nfields.Ziehkraft_IST_V = parseFloat(Ziehkraft_IST_V).valueOf();\nfields.D_Roh = parseFloat(D_Roh).valueOf();\nfields.D_Fertig = parseFloat(D_Fertig).valueOf();\nfields.ISTWERT_ZIEHGESCHW = parseFloat(ISTWERT_ZIEHGESCHW).valueOf();\nfields.Lichtschranke_vor_Ziehteil = parseInt(Lichtschranke_vor_Ziehteil).valueOf();\nfields.Lichtschranke_am_Hauptgetriebe = parseInt(Lichtschranke_am_Hauptgetriebe).valueOf();\nfields.Lichtschranke_vor_Abschneideteil  = parseInt(Lichtschranke_vor_Abschneideteil).valueOf(); \nfields.Lichtschranke_hinter_Abschneideteil  = parseInt(Lichtschranke_hinter_Abschneideteil).valueOf(); \nfields.Reset_Zkraft = parseInt(Reset_Zkraft).valueOf();\nfields.LS_Vorrichter_zwischen_Waage_und_Senk = parseInt(LS_Vorrichter_zwischen_Waage_und_Senk).valueOf();\nfields.Ziehstein_Verstellung_Auf = parseInt(Ziehstein_Verstellung_Auf).valueOf();\nfields.Ziehstein_Verstellung_Ab = parseInt(Ziehstein_Verstellung_Ab).valueOf();\nfields.Ziehstein_Verstellung_Vor = parseInt(Ziehstein_Verstellung_Vor).valueOf();\nfields.Ziehstein_Verstellung_Zurk = parseInt(Ziehstein_Verstellung_Zurk).valueOf();\nfields.COIL_ID = parseFloat(COIL_ID).valueOf();\nfields.PUSHING_FORCE = parseFloat(PUSHING_FORCE).valueOf();\nfields.Drawing_Force = parseFloat(Drawing_Force).valueOf();\nfields.MAX_PUSH = parseFloat(MAX_PUSH).valueOf();\nfields.Max_Draw = parseFloat(Max_Draw).valueOf();\nfields.std_Push = parseFloat(std_Push).valueOf();\nfields.std_Draw = parseFloat(std_Draw).valueOf();\n\nvar arr =[]\narr[0] = fields\narr[1] = tags\n\nmsg.payload = arr\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["7491871e.af3ae8","8c93435.f052cc"]]},{"id":"7491871e.af3ae8","type":"debug","z":"b6a839bb.5838d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":200,"wires":[]},{"id":"8c93435.f052cc","type":"influxdb out","z":"b6a839bb.5838d8","influxdb":"92b48708.e3f788","name":"database","measurement":"plettenberg","precision":"n","retentionPolicy":"","x":1000,"y":340,"wires":[]},{"id":"92b48708.e3f788","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"HOUSE","name":"DATABASE","usetls":false,"tls":""}]