trial for influx1.json
[{"id":"b0ae7a09.c62ec8","type":"inject","z":"1823091b.e8e7b7","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":110,"y":140,"wires":[["d3dfe908.358588"]]},{"id":"d3dfe908.358588","type":"file in","z":"1823091b.e8e7b7","name":"rough","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\us.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":250,"y":140,"wires":[["f1769053.a19de"]]},{"id":"f1769053.a19de","type":"csv","z":"1823091b.e8e7b7","name":"","sep":";","hdrin":true,"hdrout":true,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"x":410,"y":180,"wires":[["c8087922.2da2d8"]]},{"id":"1a036e2a.0c1c82","type":"debug","z":"1823091b.e8e7b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":140,"wires":[]},{"id":"9c8977f1.0d2918","type":"influxdb out","z":"1823091b.e8e7b7","influxdb":"f000a8f.59cad58","name":"","measurement":"HEAD1","precision":"ms","retentionPolicy":"","x":890,"y":280,"wires":[]},{"id":"c8087922.2da2d8","type":"function","z":"1823091b.e8e7b7","name":"function","func":"// Addd metadata to the payload\n\nvar tags = {}\ntags.COIL_ID = msg.payload.COIL_ID\n\n\nvar fields = {}\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst dateTime = `${date} ${time}`\npointTime = new Date(dateTime);\n\n// assign the timestamp value to fields.time\nfields: {\n        \n        \n        fields.Ziehkraft_IST_LIN = msg.payload.Ziehkraft_IST_LIN,\n        fields.Ziehkraft_IST_LIN_int = msg.payload.Ziehkraft_IST_LIN_int,\n        fields.ls1 = (msg.payload.ls1 ==1),\n        fields.ls2 = (msg.payload.ls2 ==1),\n        fields.COIL_ID = (msg.payload.COIL_ID ==1)\n      }\n     \n      fields.time = pointTime.getTime();\nvar arr =[]\narr[0] = fields\narr[1] = tags\n\n\nmsg.payload = arr\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["1a036e2a.0c1c82","9c8977f1.0d2918"]]},{"id":"f000a8f.59cad58","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"MF","name":"DATABASE","usetls":false,"tls":""}]