trial csv to influxdb2.json
[{"id":"b64d70bf.9d42d","type":"function","z":"d8a4db7.9505128","name":"Transform json","func":"input = msg.payload;\n\nconst incomingDate = msg.payload.time;\n\n// extract the date dd.mm.yyyy from the incoming Date String\nconst splittedDate = incomingDate.split(' ');\n\n// Convert the date from dd.mm.yyyy to yyyy-mm-dd format\nlet date = splittedDate[0].split('.').reverse().join('-');\n\n// Store time value in a separate variable for later use.\nconst time = splittedDate[1];\n\n// merge date and time to form yyyy-mm-dd hh:mm:ssZ format\nconst datetime = `${date} ${time}`\npointTime = new Date(datetime);\noutput = {};\noutput.payload = {\n  bucket: 'Nitesh',\n  precision: 'ms',\n\n  data: {\n      measurement: 'pull',\n\n      tags: {\n        coil_id: input.COIL_ID ,\n      },\n\n      fields: {\n        \n        Ziehkraft_IST_LIN: input.Ziehkraft_IST_LIN,\n        Ziehkraft_IST_LIN_int: input.Ziehkraft_IST_LIN_int,\n        ls1: (input.ls1 ==1),\n        ls2: (input.ls2 ==1),\n        COIL_ID: (input.COIL_ID ==1)\n      },\n     \n      timestamp: pointTime.getTime(),\n    },\n};\n\nreturn output;\n","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["84479006.f703f","e6da1249.2161"]]},{"id":"74131e4c.ed793","type":"csv","z":"d8a4db7.9505128","name":"","sep":";","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":450,"y":280,"wires":[["b64d70bf.9d42d"]]},{"id":"e6da1249.2161","type":"Stackhero-InfluxDB-v2-write","z":"d8a4db7.9505128","server":"e46e81e6.7784","name":"InfluxDB2 Write","x":980,"y":420,"wires":[[]]},{"id":"c5430aaf.4f5cd8","type":"file in","z":"d8a4db7.9505128","name":"File us.csv","filename":"C:\\Users\\gini02\\Desktop\\NODE-RED\\us.CSV","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":270,"y":220,"wires":[["74131e4c.ed793"]]},{"id":"42397cc3.feb234","type":"inject","z":"d8a4db7.9505128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":274,"wires":[["c5430aaf.4f5cd8"]]},{"id":"84479006.f703f","type":"debug","z":"d8a4db7.9505128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":280,"wires":[]},{"id":"e46e81e6.7784","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"bright-bar.sms-metrics.com","port":"443","tls":true}]